<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings version="1">
  <section id="service.anamorphic.autofit">
    <category id="general" label="General" help="">
      <group id="1" label="General">
        <setting id="enable_autofit" type="boolean" label="Enable Anamorphic Auto Fit" help="Automatically zoom suitable 16:9 video to fit your screen.">
          <level>0</level>
          <default>true</default>
          <control type="toggle"/>
        </setting>
        <setting id="target_ar" type="string" label="Your Screen's Aspect Ratio" help="Enter a value from 1.78 to 4.00, for example 2.40. Invalid values use 2.40.">
          <level>0</level>
          <default>2.40</default>
          <constraints>
            <allowempty>false</allowempty>
          </constraints>
          <control type="edit" format="string">
            <heading>Your Screen's Aspect Ratio</heading>
          </control>
        </setting>
      </group>
    </category>
  </section>
</settings>
